
body {
  background-color: #0e1111;
  margin: 0;
  width: 100vw;
  margin: auto auto;
  height: 100vh;
  text-align: center;
  color: white
}

main {
  margin-right: 15%;
  margin-left: 15%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 250px;
}

.card img {
  max-height: 300px;
}

.card a {
  color: white;
}

.card p {
  line-height: 6pt;
}

.card h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}